{% extends 'base.html' %}
{% block start %}
<div class="mb-4 text-end">
    <a href="" class="btn btn-outline-primary">Add New</a>
</div>
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in item_list %}
    <tr>
        <td>
            {{ item.item_name }}
        </td>
        <td>
            {{ item.item_desc }}
        </td>
        <td>
            {{ item.item_price }}
        </td>
        <td>
            <a href="{% url 'food:details' item.id %}" class="btn btn-sm btn-primary" role="link">view</a>
            <a href="" class="btn btn-sm btn-secondary">Edit</a>
            <a href="" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}