{% extends 'base.html' %}
{% block start %}
<div class="mb-4 text-end">
    <a href="{% url 'food:add' %}" class="btn btn-outline-primary">Add New</a>
</div>
<table class="table table-condensed">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Rating</th>
        <th>Movie Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in item_list %}
    <tr>
        <td width="10%">
            <img src="{{ item.banner }}" width="70" alt="{{ item.name }}" />
        </td>
        <td width="10%">
            {{ item.name }}
        </td>
        <td width="45%">
            {{ item.rating }}
        </td>
        <td width="10%">
            {{ item.movie_type }}
        </td>
        <td width="15%">
            <a href="{% url 'food:details' item.id %}" class="btn btn-sm btn-primary" role="link">view</a>
            <a href="{% url 'food:update' item.id %}" class="btn btn-sm btn-secondary">Edit</a>
            <a href="{% url 'food:delete' item.id %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}